body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    color: #1e1d1d;
    background-color: #f0f0f0; /* Fallback background color */
}

h1 {
    text-align: center;
    color: #099e3d;
}

.container {
    margin: 10px;
}

form {
    max-width: 400px;
    margin: 0 auto 20px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* Safari compatibility */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Subtle border */
    background-color: #00377B; /* Fallback for non-supporting browsers */
}

.row-container {
    display: flex;
    justify-content: space-between; /* Moves row count to the right */
    align-items: center;
    width: 100%;
}
.row-count {
    margin-left: auto; /* Pushes it to the right */
}


.row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.row label {
    color: aliceblue;
    margin-right: 10px;
}

.small-input {
    width: 30px;
    text-align: center;
}

label {
    color: aliceblue;
    display: block;
    margin-bottom: 5px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.export-button {
    margin-top: 20px;
}

.button-row {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.button-row button {
    flex: 1;
    margin: 0;
    padding: 10px;
}

#logDetails {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.spinner {
    display: none;
    margin: 10px auto;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #007bff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.log-type-cell {
    padding: 4px 8px;
    border-radius: 4px;
    color: white;
    text-align: center;
}
button {
    padding: 8px 16px;
    margin: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
}
button:hover {
    background-color: #417585;
}
#gridContainer {
    margin-top: 20px;
    height: 600px;
    width: 100%;
}

.toolbar-select {
    padding: 4px;
    margin: 0 5px;
    border-radius: 4px;
}

.toolbar input {
    border-radius: 4px;
    border: 1px solid #ccc;
}

.content-hidden {
    max-height: 100%; /* Limit the height */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content-hidden:hover {
    max-height: none; /* Allow full content on hover */
    white-space: normal;
}
